<article (contextmenu)="newContextMenu($event)" data-encore-id="playList"
  class="relative w-full max-h-14 bg-white/10 transition-colors rounded-lg gap-2 cursor-pointer flex items-center">
  <div class="h-[56px] min-w-[56px] relative">
    <img [ngSrc]="value.images[0].url" srcset="" [alt]="'PlayList '+ value.name" class="rounded-l-md" priority fill
      width="0" height="0">
  </div>
  <div class="w-full max-h-[56px] overflow-hidden">
    <div class="flex flex-col max-h-[56px] overflow-hidden text-ellipsis">
      <p class="text-base text-white  text-ellipsis">{{value.name}}</p>
    </div>
  </div>
</article>
