<article class="pt-3 grid gap-3">
    <section class="text-white">
        <h2>{{this.getGreeting()}}</h2>
        <div class="grid grid-cols-1 pt-3 sm:grid-cols-2 xl:grid-cols-3 grid-rows-3 sm:grid-rows-2 gap-2">
            @for (item of welcome; track $index) {
                <app-medium-card [value]="item"></app-medium-card>
            }
        </div>
    </section>
    @for (item of this.sections; track item.data) {
        <app-section class="whitespace-nowrap overflow-hidden" [items]="item"></app-section>
    }
</article>