<article class=" px-4 pt-4 pb-3 w-auto h-full bg-neutral-800/30 relative overflow-hidden grid rounded-md gap-4 hover:bg-neutral-800" style="grid-template-rows: auto 2fr;">
    <div class="w-full overflow-hidden rounded-md">
        <img class="" style="height: auto;position:initial;" [ngSrc]="'https://image-cdn-ak.spotifycdn.com/image/ab67706c0000bebb4c842af8007dc290796f811d'" fill width="0" height="0" priority alt="" srcset="">
    </div>
    <div class="overflow-hidden flex flex-col gap-2 whitespace-normal">
        <span class="whitespace-nowrap">
            <h4 class="text-white overflow-hidden overflow-ellipsis">Radar de Novedades</h4>
        </span>
        <span class="overflow-hidden overflow-ellipsis"><p class="text-white/80 text-sm">Las novedades de los artistas que sigues y nuevos temas seleccionados para ti. Se actualiza cada viernes</p></span>
    </div>
</article>