$currentColor: #a1a1aa;
a:hover * {
  fill: #fff !important;
  color: #fff;
  
}
a{
    cursor: pointer;
    *{
        transition: all 0.3s ease-in;
    }
}
.active{
    *{
        fill: #fff !important;
        color: #fff;
    }
}
ul{
    font-family: CircularStd-bold;
}

a, li,span{
    color: $currentColor;
}
footer .order button{
    font-size: .9rem;
    line-height: 1.5rem;
    @apply bg-white/10 rounded-full px-3 py-1 hover:bg-white/[0.135] transition-colors;
    font-family: CircularStd-light;
    span{
        @apply text-white
    }
}
span[role="search"]{
    input{
        transition: all 0.35s ease-in-out;
        font-family: CircularStd-book;
        @apply text-ellipsis  text-zinc-300
    }
}
section[role="wrapper"]{
    @apply lg:max-w-md md:max-w-sm max-w-[18rem];
}
span[role="filter"] button span{
    color: inherit;
}