<nav class="grid gap-2">
    <section class="bg-[#121212] rounded-xl py-5 px-6" role="wrapper">
        <ul class="flex flex-col gap-5 ">
            <a class="flex gap-5 items-center" routerLink="/home"
                routerLinkActive="active"><icon-home class="h-7 w-7 fill-zinc-400" /> <span>{{dictionary?.header?.home}}</span></a>
            <a class="flex gap-5 items-center"><icon-search
                    class="fill-zinc-400 h-7 w-7" /><span>{{dictionary?.header?.search}}</span></a>
        </ul>
    </section>
    <section class="bg-[#121212] rounded-xl h-[742px]" role="wrapper">
        <ul class="py-2 px-5 flex flex-col gap-5 ">
            <header>
                <div class="flex justify-between px-2 py-2">
                    <div class="flex items-center">
                        <a class="flex gap-5  "><icon-library /> <span>{{dictionary?.contain?.library}}</span></a>
                    </div>
                    <button
                        class="bg-transparent transition-colors hover:bg-white/5 rounded-full h-8 w-8 p-2 hover:fill-white fill-zinc-400">
                        <icon-add class=" h-5 w-5" />
                    </button>
                </div>
                <footer>
                    <div class="flex gap-2 my-3 order">
                        <button><span>{{dictionary?.contain?.filter?.list}}</span></button>
                        <button><span>{{dictionary?.contain?.filter?.artist}}</span></button>
                        <button><span>{{dictionary?.contain?.filter?.albums}}</span></button>
                    </div>
                    <div class="flex items-center justify-between">
                        <span (click)="InputSearche.focus(); tabIndex=0"
                            class="flex items-center border-0 rounded-md"
                            role="search">
                            <input
                                [ngClass]="['block bg-white/10 text-sm outline-none rounded-md py-[0.35rem]', tabIndex>-1?'opacity-1 w-[188px] pl-9':'opacity-0 w-6']"
                                #InputSearche (blur)="tabIndex=-1"
                                placeholder="{{dictionary?.contain?.context_search}}"
                                [tabIndex]="tabIndex">
                            <button
                                [ngClass]="['absolute bg-transparent transition-colors rounded-full h-9 w-9 fill-zinc-400',tabIndex==-1?'hover:bg-white/5 hover:fill-white':'cursor-text fill-zinc-300']">
                                <icon-search
                                    class="w-5 h-5 inset-0 absolute m-auto" />
                            </button>
                        </span>

                        <span class="flex min-w-0" role="filter">
                            <button
                                class="flex items-center min-w-0 hover:text-white hover:fill-white text-zinc-300 fill-zinc-400 transition-all">
                                <span
                                    class="text-ellipsis overflow-hidden whitespace-nowrap text-inherit CircularStd-Light ms-3 text-[.95rem] hover:font-semibold">{{dictionary?.contain?.lasted}}</span>
                                <icon-hamburguer-menu class="ms-1 fill-inherit" />
                            </button>
                        </span>
                    </div>
                </footer>
            </header>
        </ul>
        <ng-container>
            <!--@for (item of ; track $index) {

            }-->
        </ng-container>
    </section>
</nav>

