header{
    p{
        font-family: CircularStd-book;
        
    }
}
section[data-encore-id="scroll"]::-webkit-scrollbar{
  
    width: 0;
}

section[data-encore-id="scroll"]:hover::-webkit-scrollbar {
  width: .8rem;
}


section[data-encore-id="scroll"]:hover::-webkit-scrollbar-thumb {
  background: rgb(255,255,255,.3)
}